@page "/historiqueFiche"
@using Microsoft.EntityFrameworkCore
@using Portail_OptiVille.Data.Models
@inject A2024420517riGr1Eq6Context _context

@*
    HISTORIQUE
*@

<PageTitle>Historique de {fournisseur}</PageTitle>
<div class="container-fluid">
    <div class="card">
        <div class="card-header d-flex justify-content-center">
            <div class="fw-bold fs-4">Historique</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">Date et heure</div>
                <div class="col-4">État de la demande</div>
                <div class="col-4">Modifié par</div>
            </div>
            @*
                BOUCLE LISTANT LES CHANGEMENTS
                ICÔNES:
                DÉSACTIVER  <i class="bi bi-slash-circle"></i>    
                MODIFIER    <i class="bi bi-pencil me-1"></i>
            *@
            @{
                if (historiqueFiche.Any())
                {
                    @foreach (var historiqueChange in historiqueFiche)
                    {
                        <div class="row">
                            <div class="col-4">@historiqueChange.DateEtatChanged</div>
                            <div class="col-4">
                                @switch (historiqueChange.EtatDemande)
                                {
                                    case "Accepté": <i class="bi bi-check-circle me-2"></i>
                                        break;
                                    case "Refusé": <i class="bi bi-x-circle me-2"></i>
                                        break;
                                    case "En attente": <i class="bi bi-dash-circle me-2"></i>
                                        break;
                                    case "À reviser": <i class="bi bi-exclamation-circle me-2"></i>  
                                        break;
                                }
                                @historiqueChange.EtatDemande
                                </div>
                            <div class="col-4">NA</div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

@code{
    [Parameter]
    public int idFournisseur { get; set; } = 63;
    private List<Historique> historiqueFiche; 

    protected override async Task OnInitializedAsync()
    {
        historiqueFiche = await _context.Historiques
                                         .Where(h => h.IdHistorique == idFournisseur)
                                         .ToListAsync();
    }
}    
