@page "/"
@namespace Portail_OptiVille.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <title>My Blazor App</title>
    <script>
        function setPageTitle(title) {
            document.title = title;
        }
    </script>
    <!-- Dans le fichier _Host.cshtml, sous <script src="_framework/blazor.server.js"></script> -->
    <script>
        function confirmSelectionChange() {
            return confirm("Êtes-vous sûr de vouloir effectuer ce changement ?");
        }
    </script>


    <link rel="stylesheet" href="css/couleur.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
    @{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />


