@page "/counter"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Portail_OptiVille.Data.Utilities
@using Portail_OptiVille.Data.Exceptions
@using System.IO;
@using System.Collections.Generic;
@using System;

@inject MailManager _mailManager
@inject DownloadService DownloadService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager navigationManager
@inject ICookie cookie
@inject JwtTokenGenerator tokenGenerator

<PageTitle>Counter</PageTitle>

<h1>Test pour voir si on peut envoyer des mails</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="SendMail">Click me</button>

@code {
    private int currentCount = 0;
    string role = "";
    private RoleChecker _roleChecker;
    private void IncrementCount()
    {
        currentCount++;
    }
    private async Task SendMail()
    {
       _roleChecker = new RoleChecker(ProtectedSessionStore, cookie, tokenGenerator);
        if(await _roleChecker.CheckRole("Commis"))
        {
            Console.WriteLine("Je suis un administrateur");
        }
    }

    



}

